@use "reset";
@use "preloader";

* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2c35;
}

.start-screen {
    padding-top: 20px;
    width: 100vw;
    height: 90vh;
    background-color: #2a2c35;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .headers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1,
    h6 {
        padding: 0 10px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        color: #d9d9d9;
        max-width: 90%;
        text-transform: uppercase;
    }
    h6 {
        padding-top: 10px;
        font-size: 25px;
        color: #e5b855;
    }
    .start-btn {
        padding-bottom: 50px;
        &:hover {
            transform: scale(1.1);
            transition: all 0.9s ease-in-out;
        }
    }
    .start-btn:hover .one {
        fill: #d9d9d9;
    }
    .start-btn:hover .two {
        fill: #d9d9d9;
    }
    .start-btn:hover .three {
        fill: #ffd500;
        filter: brightness(1);
    }
    .start-btn:hover .four {
        fill: #005bbb;
    }

    .earth {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: url(../assets/earthMap.jpg);
        background-size: cover;
        animation: animateEarth 100s linear infinite;
        box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.5);
    }
    .cloud {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        opacity: 0.8;
        border-radius: 50%;
        background: url(../assets/earthCloud.png);
        background-size: cover;
        animation: animateCloud 700s linear infinite;
        box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.6);
    }

    .flags {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 375px;
        height: 375px;
        opacity: 0.8;
        border-radius: 50%;
        background: url(../assets/flagsBorder.png);
        background-size: cover;
    }
    @keyframes animateEarth {
        0% {
            background-position: 0 0;
        }
        100% {
            /* background-position: 719px 0; */
            background-position: 1000px 0;
        }
    }
    @keyframes animateCloud {
        0% {
            background-position: 4096px 0;
        }
        100% {
            /* background-position: 719px 0; */
            background-position: 0px 0;
        }
    }
}

.card {
    width: 395px;
    height: 650px;
    margin: 10px auto;
    .card__inner {
        width: 100%;
        height: 100%;
        transition: transform 1.1s;
        transform-style: preserve-3d;
        position: relative;
        .card__face {
            border-radius: 30px;
            border: 1px solid rgb(42, 44, 53);
            background-color: #d9d9d9;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            overflow: hidden;
            box-shadow: rgba(42, 44, 53, 0.4) -5px 5px,
                rgba(42, 44, 53, 0.3) -10px 10px,
                rgba(42, 44, 53, 0.2) -15px 15px,
                rgba(42, 44, 53, 0.1) -20px 20px,
                rgba(42, 44, 53, 0.05) -25px 25px;
        }
        .card__face--front {
            padding: 40px 0 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            h2 {
                padding: 0 10px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 37px;
                text-align: center;
                color: #2a2c35;
                max-width: 95%;
                text-transform: uppercase;
            }
            .flag {
                width: 95%;
                border: 1px solid white;
                max-height: 270px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .inputs {
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                max-width: 95%;
                .input {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 30px;
                    text-align: center;
                    text-transform: uppercase;
                    width: fit-content;
                    max-width: 35px;
                    max-height: 35px;
                    border: none;
                    margin: 1px;
                    padding: 1px;
                    &::placeholder {
                        opacity: 0;
                    }
                    &:disabled {
                        opacity: 1;
                    }
                }
                .input.hint--odd {
                    &:nth-child(odd)::placeholder {
                        opacity: 0.5;
                    }
                }
                .input.hint--even {
                    &:nth-child(even)::placeholder {
                        opacity: 0.5;
                    }
                }
            }
            .hint {
                font-family: "Montserrat";
                font-style: italic;
                color: #2a2c35;
                opacity: 0.5;
                &:disabled {
                    opacity: 0;
                }
            }
        }
        .card__face--back {
            transform: rotateY(180deg);
            .dark-block {
                background-color: #2a2c35;
                width: 100%;
                padding: 10px;
                h5,
                h6,
                p {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                    color: #ffffff;
                    text-transform: uppercase;
                }
                h6 {
                    font-size: 20px;
                    line-height: 24px;
                    color: rgba(255, 255, 255, 0.3);
                }
                p {
                    font-size: 15px;
                    line-height: 18px;
                    text-transform: none;
                }
                &.small {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 12px;
                    border-top: 1px solid #d9d9d9;
                }
            }
            .map-block {
                height: 40%;
                border: 1px solid #2a2c35;
                display: flex;
                justify-content: center;
                img {
                    object-fit: cover;
                    overflow: hidden;
                }
            }
            .wrapper {
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .info-block {
                width: fit-content;
                padding: 5px 10px;
                p {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 28px;
                    color: #2a2c35;
                    i {
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
                .capital {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    background-color: #005bbb;
                    color: #d9d9d9;
                    // border: 1px solid #e5b855;
                }
                .weatherIcon {
                    width: 30px;
                    height: 30px;
                }
                .capital-info {
                    color: #005bbb;
                }
            }
            .btn-block {
                padding: 10px 0;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}
.card__inner.is-flipped {
    transform: rotateY(180deg);
}
.flip-btn,
.next-btn {
    transition-duration: 0.8s;
    transition-property: transform;
    &:hover {
        transform: scale(1.1);
    }
}
#flip-btn-front:disabled {
    opacity: 0;
}

@import "adaptive";
